p {
    width: 230px;
    height: 250px;
    background: #6A9E99;
    transition: width 1s, height 4s;
  }
  
  p:hover {
    width: 400px;
    height: 250px;
  }

  body {
    background-image: url(img/test2.png);
    background-size: cover;
  
    margin: 0;
    font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
  }

  /*

.d {
  width: 100%;
  text-align: center;
  background: rgba(0, 183, 255, 0.548);
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear ;
}

.d:hover {
  height: 300px;
}

.text {
  width: 100%;
  height: 70px;
  text-align: center;
  background: rgba(0, 183, 255, 0.548);
  transition: width 1s, height 2s, transform 1s;
}

.text:hover {
  width: 100%;
  height: 150px;

}

*/


@keyframes slideInLeft {
  0% {
    transform: translatex(-100%);
  }
  100% {
    transform: translatex(0);
  }
}

header {
  animation: 1s ease-out 0s 1 slideInLeft;
  background: rgba(17, 119, 214, 0.356);
  padding: 40px;
}


a {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
}

.herb {
  text-align: center;
  color: #fff;
  background-color: #ffffff2a;
}

img {
  width: 200px;
  height: 200px;
  object-fit: fill;
}